.center-screen {
    margin-top: 10%
  }

  .row{
      margin-bottom: 10px;
  }

  .center{
    text-align: center;
}

  .logo-container{
    text-align: center;
    margin-bottom: 30px;

    img{
        width: 150px;
    }
  }

  .input-group{
      input{
          border-left: 0;
      }
  }

  .input-group-addon{
    min-width: 95px;
    background: white;
    border-right: 0;
    padding:0;
    font-size: 12px;
    color: #2b3b34;
  }

  .checkbox{
    border: 0;
    background-color: transparent;
    text-align: center;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }

.forgot-password{
    text-align: center;
    font-size: 12px;
}

.submit-btn{
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background-color: #06c790;
    color: white;
    font-size: 18px;
}


.create-new-account-btn{
    width: 100%;
  height: 48px;
  border-radius: 10px;
  background-color: #2b3b34;
  color: white;
}

.col-sm-4, .col-sm-6{
    margin-bottom: 10px ;
}


