<div class="center-screen">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 logo-container">
        <img src='assets/svg/logo.svg'>
      </div>
    </div>
    <form >
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">User Name</span>
            <input type="text" class="form-control"  aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <input type="text" class="form-control"  aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <div class="">
            <span class="checkbox">
              <input type="checkbox" >
              Remember me
            </span>
          </div>
        </div>
        <div class="col-sm-4 forgot-password">
          <div>Forgot your Password?</div>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 center">
          <button type="submit" class="submit-btn">Login</button>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </form>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 center">
        <button type="submit" class="create-new-account-btn">Create New Account</button>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>