.center-screen {
    margin-top: 10%
  }

  .row{
      margin-bottom: 10px;
  }

  .center{
    text-align: center;
}

  .logo-container{
    text-align: center;
    margin-bottom: 30px;

    img{
        width: 150px;
    }
  }


  mat-form-field{
    width: 100%;
  }

  .checkbox{
    text-align: center;
    margin: 0;
    font-size: 12px;
  }

.forgot-password{
    text-align: center;
    font-size: 12px;
    height: 100%;
    
    div{
      margin-top: 4px;
    }
}

.submit-btn{
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background-color: #06c790;
    color: white;
    font-size: 18px;
}


.create-new-account-btn{
    width: 100%;
  height: 48px;
  border-radius: 10px;
  background-color: #2b3b34;
  color: white;
}

.col-sm-4, .col-sm-6{
    margin-bottom: 5px ;

    min-height: 30px;
}


