
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$md-mcgpalette0: (
    50 : #e1f8f2,
    100 : #b4eede,
    200 : #83e3c8,
    300 : #51d8b1,
    400 : #2bcfa1,
    500 : #06c790,
    600 : #05c188,
    700 : #04ba7d,
    800 : #03b373,
    900 : #02a661,
    A100 : #d0ffe9,
    A200 : #9dffd0,
    A400 : #6affb8,
    A700 : #51ffac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$clinics-primary: mat-palette($md-mcgpalette0);
$clinics-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$clinics-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$clinics-theme: mat-light-theme($clinics-primary, $clinics-accent, $clinics-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($clinics-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.form-control:focus {
    border-left: 1px solid #06c790;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
     border-color:#06c790; 
    outline: unset; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #06c790; 
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #06c790; 
}

body{
    background-color: #f5f5f5;
}
